body > .ember-view {
  display:        flex;
  min-height:     100vh;
  flex-direction: column;
}

.fullheight {
  flex: 1 0 auto;
}

.fullrow {
  min-height: 100%;
}

.container {
  min-width: 100vw;
}

html,body,.col-md-8,.row {
  height:100%;
}
.row .ember-view {
  height:100%;
}
