<!-- Passing the model from the index route template down to the component. -->
{{#blockly-container model=model}}
{{/blockly-container}}
<button {{action "generate"}}>Generate</button>
{{#evaluation-container historical=model.historical transit=(action "transit")}}
{{/evaluation-container}}
