<div class="row fullrow">
    <div class="col-md-7 fullrow" id="blocklyArea">
        <!-- Passing the model from the index route template down to the component. -->
        {{#workspace-container model=model save=save}}
        {{/workspace-container}}
    </div>
</div>
