{{input id="newWorkspaceInput" class="form-control" value=name placeholder="Enter a name" enter=(action "createNew" name)}}
<table class="table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |workspace|}}
        <tr>
            {{#link-to 'workspace' workspace tagName="td"}}
            {{workspace.name}}
            {{/link-to}}
            {{#link-to 'workspace' workspace tagName="td"}}
            {{workspace.date}}
            {{/link-to}}
        </tr>
        {{/each}}
    </tbody>
</table>
{{outlet}}
