{{input class="form-control" value=name placeholder="Enter a name" enter=(action "createNew" name)}}
<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Date</td>
        </tr>
    </thead>
    <tbody>
        {{#each model as |workspace|}}
        <tr>
            <td>
                {{#link-to 'workspace' workspace}}
                {{workspace.name}}
                {{/link-to}}
            </td>
            <td>
                {{#link-to 'workspace' workspace}}
                {{workspace.date}}
                {{/link-to}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{outlet}}
